<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <style>

        div{
                    position:absolute;
                    right: 10px;
                    top:5px;




        }

    </style>
</head>
<body>




                    <div>
                    <button type="button"onclick="location.href='{% url 'log' %}'">
                        logout

                    </button>
                    welcome
                    </div>

</body>
</html>