<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <style>

        div{
                    position:absolute;
                    right: 10px;
                    top:5px;




        }

    </style>
</head>
<body>
   welcome


                    <div id="log">
                    <button type="button"onclick="location.href='{% url 'log' %}'">
                        logout

                    </button>

                         <button type="button" onclick="location.href='{% url 'profile' %}'">
                        my profile

                    </button>

                    </div>

</body>
</html>