{%if mess%}
<script>

    alert('{{mess}}')



</script>



{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>
<body>
            <form action="/postsign/" method="post">
                            {% csrf_token %}
                        Emain:<input type="email" name="email"><br>
                        Password:<input type="password" name="pass"><br>

                        <input type="submit" value="signin">
                        <button type="button" onclick="location.href='{% url 'signup' %}'">signup</button>



            </form>
</body>
</html>